
@{
    ViewBag.Title = "Upload";
}

<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> New Upload</h1>
            </div>
        </div>
    </div>
</header>

<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Index", "Index", "Customer")</li> &nbsp;&nbsp;&nbsp; >
            <li class="active">New Upload</li>
        </ol>
    </div>
</section>

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="@Url.Action("ShowProfile","Customer")" class="list-group-item active main-color-bg">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Profile
                    </a>
                    <a href="@Url.Action("ShowProfile","Customer")" class="list-group-item">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        Your Profile
                    </a>
                    <a href="@Url.Action("EditProfile","Customer")" class="list-group-item">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        Edit Profile
                    </a>
                    <a href="@Url.Action("ChangePassword","Customer")" class="list-group-item">
                        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                        Change Password
                    </a>
                </div>
            </div>

            <!-- My Follow Order -->
            <div class="col-md-10">
                <!-- Order -->
                <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                        <h3 class="panel-title">Upload Image</h3>
                    </div>
                    <div class="panel-body">

                        <br>
                        @using (Html.BeginForm("ShowImage", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="file" multiple="multiple" name="images" accept=".jpg, .jpeg" required />
                            <input type="submit" value="Upload" />
                            if (ViewBag.mess != null)
                            {
                                <h5 class="text-danger">@ViewBag.mess</h5>
                            }
                        }
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>




