
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    <link href="~/css/style2.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        @if(Session["Login"] != null)
        {
            @model MIClient.ServiceReferenceMI.tb_customer

            using (Html.BeginForm("ChangePassword", "Customer", FormMethod.Post))
            {
                @Html.ValidationSummary(true,"",new { @class = "text-danger"})

                <div class="form-group">
                    @Html.Label("Old Password")
                    <input type="password" name="OldPwd" id="OldPwd" placeholder="Old Password" class="form-control" />
                </div>
                <div class="form-group">
                    @Html.Label("New Password")
                    @Html.EditorFor(x => x.cus_pass, new { @class = "form-control"})
                </div>
                <div class="form-group">
                    @Html.Label("Confirm New Password")
                    <input type="password" name="pass1" id="pass1" placeholder="Confirm New Password" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Save Change</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            }
        }
    </div>
</body>
</html>
