@model MIData.Models.Customer

@{
    ViewBag.Title = "ShowProfile";
}

<h2>My Profile</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cus_fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cus_fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cus_lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cus_lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cus_gender)
        </dt>

        <dd>
            @{ var gen = Model.cus_gender; }
            @if (gen == true)
            {
                <p>Male</p>
            }
            else
            {
                <p>Female</p>
            }            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cus_dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cus_dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cus_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cus_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cus_add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cus_add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cus_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cus_email)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Profile", "EditProfile", new { id = Model.cus_id }) |
    @Html.ActionLink("Back to Index", "Index")
</p>
