<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Admin")">MyImage</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @{
                        
                        var orders = "Order";
                        var customer = "Customer";
                        var index = "Index";
                        var size = "Size";
                    }
                    <li class="@if ((string)ViewData["ViewName"] == index)
                    {
                        @Session["active"]
                    }
                    else { @ViewData["No"];}">@Html.ActionLink("Dashboard", "Index", "Admin")</li>
                    <li class="@if ((string)ViewData["ViewName"] == orders)
                    {
                        @Session["active"]
                    }
                    else { @ViewData["No"];}
                    ">@Html.ActionLink("Order List", "Order", "Admin")</li>
                    <li class="@if ((string)ViewData["ViewName"] == customer)
                    {
                        @Session["active"]
                    }
                    else { @ViewData["No"];}">@Html.ActionLink("Customer List", "Customer", "Admin")</li>
                    <li class="@if ((string)ViewData["ViewName"] == size)
                    {
                        @Session["active"]
                    }
                    else { @ViewData["No"];}">@Html.ActionLink("Size Catalogue", "Size", "Admin")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">Welcome, @Session["admin"]</a></li>
                    <li>@Html.ActionLink("Logout", "Login", "Admin")</li>
                </ul>
            </div>
        </div>
    </nav>  

    <div class="container body-content">
        @RenderBody()
        <hr />
        
        <footer class="footer">
            
            <p style="text-align:center;">&copy;  - Copyright MyImage @DateTime.Now.Year</p>

        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>