@model MIClient.Models.Size

@{
    ViewBag.Title = "CreateSize";
}
@if (Session["admin"] != null)
{
    

    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> Orders <small>Manage Orders</small></h1>
                </div>
            </div>
        </div>
    </header>

    <section id="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Dashboard", "Index", "Admin")</li> &nbsp;&nbsp;&nbsp;   >
                <li class="active">@Html.ActionLink("Size Catalogue", "Size", "Admin")</li> &nbsp;&nbsp;&nbsp;   >
                <li class="active">Create Print Size</li>
            </ol>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="list-group">
                        <a href="@Url.Action("Index","Admin")" class="list-group-item active main-color-bg">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
                        </a>
                        <a href="@Url.Action("Order","Admin")" class="list-group-item">
                            <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                            Orders <span class="badge"> @ViewData["AllOrder"]</span>
                        </a>
                        <a href="@Url.Action("Customer","Admin")" class="list-group-item">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            Customers <span class="badge"> @ViewData["AllCustomer"]</span>
                        </a>
                        <a href="@Url.Action("Size","Admin")" class="list-group-item">
                            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                            Size <span class="badge"> @ViewData["AllSize"]</span>
                        </a>
                    </div>
                </div>

                <div class="col-md-10">
                    <!-- Order -->
                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">Create Print Size</h3>
                        </div>
                        <div class="panel-body">

                            <div class="">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">

                                      
                                        <p class="text-danger">@Session["Error"]</p>
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.pr_size, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.pr_size, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.pr_size, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.pr_price, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.pr_price, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.pr_price, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Create" class="btn btn-default" />
                                                <input type="reset" value="Reset" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                }




                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

   

   
}
else
{
    Layout = null;
}

