@model IEnumerable<MIClient.ServiceReferenceMI.tb_customer>

@{
    ViewBag.Title = "Customer";
}

<h2>Customer</h2>


<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Gender
        </th>
        <th>
            Address
        </th>
        <th>
            DoB
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>

            @Html.HiddenFor(modelItem => item.cus_id)

            <td>
                @Html.DisplayFor(modelItem => item.cus_fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cus_lname)
            </td>
            <td>
                @{ var gen = item.cus_gender; }
                @if (gen == true)
                {
                    <p>Male</p>
                }
                else
                {
                    <p>Female</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cus_add)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cus_dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cus_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cus_phone)
            </td>

        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
